
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />              
                <div class="card-wrap">
                    <div class="card-header">
                        <a href="/Profile/Userlist">
                            <span>Total User</span>
                            <div class="card-body">
                                @ViewBag.customer
                            </div>
                        </a>
                    </div>        
            </div>                
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />

                <div class="card-wrap">
                    <div class="card-header">
                        <a href="/Game/GameList">
                            <span>Total Games</span>
                            <div class="card-body">
                                @ViewBag.Gamelist
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <div class="card-wrap">
                    <div class="card-header">
                        @*<a href="/Game/GameList">*@
                            <span>Total Bidding</span>
                            <div class="card-body">
                                @ViewBag.Bidding
                            </div>
                        @*</a>*@                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

